In [2]:
analyst = 'Anatoly' # Set a string variable for the 1st analyst

In [4]:
years = 2 # Set an int variable

In [7]:
has_job = False # Set a boolean variable

In [ ]:
analyst_2 = 'Olga' # Set a string variable for the 2nd analyst

In [8]:
years_2 = 3 # -''-

In [9]:
has_job = True # -''-

In [1]:
analysts = ['Anatoly', 'Olga', 'Beaslan'] # Create a list of analysts names

In [20]:
years = [2, 3, 4] # Create a list of years of working

In [11]:
analysts.append('Michael') # Add new analyst to a list of analysts

In [12]:
analysts.pop(3) # Exclude and show the excluded name

'Michael'

In [17]:
has_job = True

In [18]:
# Lets write a condition, where we can print different messages according to has_job
if has_job:
    message = 'Anatoliy is happy!'
else:
    message = 'Anatoliy is sad!'
print(message)

Anatoliy is happy!

In [18]:
job_years = 0.5

In [19]:
salary = 100000

In [20]:
message = 'Addition is equal {coef}. New salary is {new_s} EUR'

In [21]:
# Another condition, where we print different messages, using .format or f'String (preffer second one)

if job_years < 1:
    coefficient = 0
elif job_years >= 1 and job_years <= 2:
    coefficient = 0.2
else:
    coefficient = 0.4

new_salary = salary + salary * coefficient
print(message.format(coef = coefficient, new_s = new_salary))
print(f'Addition is equal to {coefficient}. New salary is {new_salary} RUR')

Addition is equal 0. New salary is 100000 EUR
Addition is equal to 0. New salary is 100000 RUR

In [22]:
user_info = ['Nikita', 'Korotkov', 170000.00, 5]

In [23]:
user_info

['Nikita', 'Korotkov', 170000.0, 5]

In [41]:
salaries = [42, 100, 70, 80]

In [42]:
salaries

[42, 100, 70, 80]

In [30]:
first = salaries[0]

In [31]:
first

42

In [44]:
salaries.extend([1, 2])

In [46]:
salaries.extend(['Voronov', 42])

In [47]:
salaries

[42, 100, 70, 80, 1, 2, 'Voronov', 42]

In [48]:
salaries

[42, 100, 70, 80, 1, 2, 'Voronov', 42]

In [49]:
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]

In [50]:
# Create a simple cycle.
for i in user_ages:
    if i > 18:
        print(i)

21
35
42
27

In [20]:
worker = ['Olya', 'Silyutina', 350000, 1]

In [21]:
#Another condition with f string, which shows grade of employee, according to years of work.
user_name = worker[0]
user_family = worker[1]
experience = worker[-1]

if experience < 2:
    position = 'junior'
elif worker[-1] > 5:
    position = 'senior'
else:
    position = 'middle'

status = f'{user_name} {user_family} is {position}'
status

'Olya Silyutina is junior'

In [96]:
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]
tens = []

In [97]:
for i in values:
    if i % 10 == 0:
        tens.append(i)

[10, 100, 20, 50, 160, 210]

In [99]:
workers = [['Ivan', 'Ivanov', 100000, 2], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 3]]

In [100]:
#Combine previous condition with cycle.

for worker in workers:
    user_name = worker[0]
    user_family = worker[1]
    experience = worker[-1]

    if experience < 2:
        position = 'junior'
    elif worker[-1] > 5:
        position = 'senior'
    else:
        position = 'middle'

    print(f'{user_name} {user_family} is {position}')

Ivan Ivanov is middle
Petr Petrov is middle
Sidor Sidorov is middle

In [1]:
lst = []
n = 0
N = 10
dn = 2

In [4]:
while n != N+2:
    lst.append(n)
    n += dn

In [5]:
lst

[0, 2, 4, 6, 8, 10]