In [18]:
import pandas as pd
import numpy as np
from numpy import sqrt
from scipy import stats
import statsmodels.api as sm

In [1]:
180/500*0.03 + 170/500*0.02 + 150/500*0.06

0.03559999999999999

In [2]:
12/17*0.85 + 4/17*0.9 + 1/17*0.8

0.8588235294117648

In [3]:
p_a = 18/40*0.9 + 8/40*0.4 + 14/40*0.7

In [4]:
p_h1_a = 18/40*0.9 / p_a
p_h1_a

0.5547945205479452

In [5]:
p_h2_a = 8/40*0.4 / p_a
p_h2_a

0.10958904109589043

In [6]:
p_h3_a = 14/40*0.7 / p_a
p_h3_a

0.33561643835616434

In [8]:
a = [p_h1_a, p_h2_a, p_h3_a]
max(a)

0.5547945205479452

In [10]:
c = 7 * 1/6 * 5/6**6

In [1]:
1000*0.4 - 0.6

399.4

In [2]:
1000*0.4 + 0.4

400.4

In [ ]:
400

In [1]:
import numpy as np

In [3]:
y = 2.093*(11.3/np.sqrt(20))
y

5.288502012904978

In [6]:
(round(89.9-y,2), round(89.9+y, 2))

(84.61, 95.19)

In [12]:
# Коэффициент корреляции

# X Y
# 4 2 
# 5 1
# 2 4
# 3 3 
# 1 5

# M M
# 3 3

# Rxy = SUM((xi - X) . (yi - Y)) /   SQRT(SUM(xi - X)2 . SUM(yi - Y)2)

a = (4 - 3) * (2 -3) + (5 - 3) * (1 - 3) + (2-3) * (4-3) + (3-3) * (3-3) + (1-3) * (5-3)
a

-10

In [13]:
b = np.sqrt(((4-3)**2+(5-3)**2+(2-3)**2+(3-3)**2+(1-3)**2) * ((2-3)**2+(1-3)**2+(4-3)**2+(3-3)**2+(5-3)**2))
b

10.0

In [14]:
a/b

-1.0

In [8]:
x = [4, 5, 2, 3, 1]
y = [2, 1, 4, 3, 5]

In [9]:
stats.linregress(x, y)

LinregressResult(slope=-1.0, intercept=6.0, rvalue=-1.0, pvalue=1.2004217548761408e-30, stderr=0.0, intercept_stderr=0.0)

In [5]:
sqrt(36) / sqrt(25) * sqrt(0.25)

0.6

In [9]:
df = pd.read_csv('http://d396qusza40orc.cloudfront.net/statistics/lec_resources/states.csv')

In [11]:
df.head()

        state  metro_res  white  hs_grad  poverty  female_house
0     Alabama       55.4   71.3     79.9     14.6          14.2
1      Alaska       65.6   70.8     90.6      8.3          10.8
2     Arizona       88.2   87.7     83.8     13.3          11.1
3    Arkansas       52.5   81.0     80.9     18.0          12.1
4  California       94.4   77.5     81.1     12.8          12.6

In [15]:
pd.DataFrame.corr(df)

              metro_res     white   hs_grad   poverty  female_house
metro_res      1.000000 -0.342442  0.018110 -0.204235      0.300062
white         -0.342442  1.000000  0.238156 -0.308520     -0.751394
hs_grad        0.018110  0.238156  1.000000 -0.746858     -0.611867
poverty       -0.204235 -0.308520 -0.746858  1.000000      0.525397
female_house   0.300062 -0.751394 -0.611867  0.525397      1.000000

In [17]:
df.describe()

        metro_res      white    hs_grad    poverty  female_house
count   51.000000  51.000000  51.000000  51.000000     51.000000
mean    72.249020  81.719608  86.011765  11.349020     11.633333
std     15.275894  13.897223   3.725998   3.099185      2.356155
min     38.200000  25.900000  77.200000   5.600000      7.800000
25%     60.800000  76.800000  83.300000   9.250000      9.550000
50%     71.600000  85.400000  86.900000  10.600000     11.800000
75%     86.800000  90.250000  88.700000  13.400000     12.650000
max    100.000000  97.100000  92.100000  18.000000     18.900000

In [23]:
mod = sm.OLS(df.hs_grad, df.female_house)
res = mod.fit()

In [24]:
print(res.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                hs_grad   R-squared (uncentered):                   0.949
Model:                            OLS   Adj. R-squared (uncentered):              0.948
Method:                 Least Squares   F-statistic:                              940.1
Date:                Wed, 08 Jun 2022   Prob (F-statistic):                    4.40e-34
Time:                        16:55:28   Log-Likelihood:                         -223.45
No. Observations:                  51   AIC:                                      448.9
Df Residuals:                      50   BIC:                                      450.8
Df Model:                           1
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
female_house     7.0703      0.231     30.661      0.000       6.607       7.533
==============================================================================
Omnibus:                        3.232   Durbin-Watson:                   1.885
Prob(Omnibus):                  0.199   Jarque-Bera (JB):                2.701
Skew:                          -0.564   Prob(JB):                        0.259
Kurtosis:                       3.012   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [25]:
64.78 - 0.62 * 62

26.340000000000003

In [27]:

promotion = (150 - (7.68 + 3.66*10 + 0.82*8)) / 7.62
promotion

13.013123359580051

In [28]:
68.7 + 50*(-0.06) + 80*(-0.05) + 90*(-0.57)

10.400000000000006