In [1]:
#import libs
import pandahouse as ph
import pandas as pd

In [2]:
#connect to clikhouse
connection = dict(
        database='test',
        host='http://clickhouse.beslan.pro:8080',
        user='student-rw',
        password='656e2b0c9c'
                )

In [6]:
query_test = """
SELECT *
FROM test.installs
LIMIT 1000
"""

df = ph.read_clickhouse(query_test, connection=connection)
df

    InstallationDate  InstallCost Platform              DeviceID     Source
0         2019-03-02            0  android   7950068545577019282  Source_27
1         2019-03-17           49  android  17173992779193729517  Source_14
2         2019-04-07           56  android   9528182466778893591  Source_14
3         2019-06-25           39  android   2212531864415574595   Source_9
4         2019-04-13            0  android   6959033924999748551  Source_27
..               ...          ...      ...                   ...        ...
995       2019-01-09          334  android   5435327797863630841  Source_14
996       2019-03-05           19      iOS  16012086443778979967   Source_9
997       2019-06-12            0      iOS   1637578224854940304  Source_27
998       2019-07-01          171  android   9176486286906828772   Source_9
999       2019-09-20            0  android   9240230502613874345  Source_27

[1000 rows x 5 columns]

In [7]:
df.to_excel('./ch_data.xlsx', sheet_name='Data', index=False, encoding='UTF-8')