In [1]:
# import libs

import pandas as pd
import datetime
import os
import requests
import json
import random
import sys
import vk_api
import numpy as np
from urllib.parse import urlencode

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
file_path = '/home/jupyter-n-korotkov/lesson_7/7_browser.csv'

In [3]:
# read data frame
df = pd.read_csv(file_path)

In [4]:
df.head()

         date         browser user_type  users
0  2020-06-14   Google Chrome    People    139
1  2020-06-14   Chrome Mobile    People     35
2  2020-06-14   Google Chrome    Robots     28
3  2020-06-14  Yandex Browser    People     22
4  2020-06-14         Firefox    People     15

In [5]:
chrome_robots = pd.Series(np.where((df.browser.str.contains('Chrome')) & (df.user_type != 'People'), 1, 0))

In [6]:
chrome_robots.head()

0    0
1    0
2    1
3    0
4    0
dtype: int64

In [43]:
sample_ads = pd.read_csv('/home/jupyter-n-korotkov/lesson_7/sample_ads.csv')

In [45]:
sample_ads.head()

   ad_id user_id click_type
0  12345   qwert        top
1  12345   fsssc     center
2  12345   vfvgg        NaN
3  12345   asrvv        NaN
4  12345   tynuy        top

In [49]:
not_nan_count = sample_ads.click_type.notna().sum()

In [50]:
not_nan_count

11

In [69]:
lst = ['c', '123', 1, 2, 3, 'f', 2, 5, 6, 'l', 0]

In [70]:
new_list = []

In [73]:
new_list = []
for i in lst:
    try:
        int(i)
        new_list.append(int(i))
    except:
        continue

In [74]:
new_list

[123, 1, 2, 3, 2, 5, 6, 0]

In [ ]:
chat_id = https://t.me/Lolkamen_bot

In [4]:
token = '5102176089:AAHKDv9OdjZpbS_UYoCxfw7ah04CKZePn7k'
chat_id = 641886254

message = 'Pes'  # text which you want to send

params = {'chat_id': chat_id, 'text': message}

base_url = f'https://api.telegram.org/bot5102176089:AAHKDv9OdjZpbS_UYoCxfw7ah04CKZePn7k/'
url = base_url + 'sendMessage?' + urlencode(params)
# Only if you need it
# proxy = {'https': 'https://77.48.23.199:57842'}

# To send request via proxy
# resp = requests.get(url, proxies=proxy)
resp = requests.get(url)