In [1]:
import pandas as pd

In [53]:
df = pd.read_csv('http://s3.amazonaws.com/alexa-static/top-1m.csv.zip', names=['rank', 'domain'])

In [3]:
df.query('domain == "linkedin.com"')

    rank        domain
12    13  linkedin.com

In [ ]:
df.query()

In [55]:
df.domain.str.split('.').str[-1].str.len().max()

14

In [59]:
df_domain_name = df.domain.str.split('.').str[-1]

In [61]:
df_domain_name = df.domain.str.split('.').str[-1]
df_domain_name.loc[df_domain_name.str.len() >= df.domain.str.split('.').str[-1].str.len().max()].sort_values().head(1)

658177    xn--54b7fta0cc
Name: domain, dtype: object

In [23]:
df.loc[df.domain.str.endswith('microsoft.com')].domain.str.split('.')

14                    [microsoft, com]
136276              [s-microsoft, com]
299724    [directionsonmicrosoft, com]
752124              [onmicrosoft, com]
Name: domain, dtype: object

In [17]:
df.loc[df.domain.str.endswith('linkedin.com')].domain.str.split('.')

12           [linkedin, com]
240571     [oklinkedin, com]
677799    [ourlinkedin, com]
Name: domain, dtype: object

In [5]:
df.domain.value_counts()

google.com                1
comicsandmemes.com        1
comicsonline.to           1
comidacocina.com          1
comindware.com            1
                         ..
flemingssteakhouse.com    1
flfamily.org              1
flipkey.com               1
floafers.com              1
zughibico.com             1
Name: domain, Length: 878991, dtype: int64

In [86]:
df

          rank              domain domain_name
0            1          google.com         com
1            2         youtube.com         com
2            3        facebook.com         com
3            4           baidu.com         com
4            5            bing.com         com
...        ...                 ...         ...
878986  878987    youth4peace.info        info
878987  878988          zadnit.net         net
878988  878989  zahratalkhaleej.ae          ae
878989  878990      zerovape.store       store
878990  878991       zughibico.com         com

[878991 rows x 3 columns]

In [102]:
df.loc[df.domain.str.endswith('airflow.com')].index.to_list()[0]

626428

In [107]:
top_data_df = 'http://s3.amazonaws.com/alexa-static/top-1m.csv.zip'
TOP_1M_DOMAINS_FILE = 'top-1m.csv'

In [104]:
def get_data():
    # Здесь пока оставили запись в файл, как передавать переменую между тасками будет в третьем уроке
    top_doms = pd.read_csv(TOP_1M_DOMAINS)
    top_data = top_doms.to_csv(index=False)
    with open(TOP_1M_DOMAINS_FILE, 'w') as f:
        f.write(top_data)


def get_top_domains():
    top_data_df = pd.read_csv(TOP_1M_DOMAINS_FILE, names=['rank', 'domain'])
    top_10_domens = df.domain.apply(lambda x: x.split('.')[-1]).value_counts()
    top_10_domens = top_10_domens.head(10)
    with open('top_10_domens.csv', 'w') as f:
        f.write(top_10_domens.to_csv(index=False, header=False))


def get_longest_domain():
    top_data_df = pd.read_csv(TOP_1M_DOMAINS_FILE, names=['rank', 'domain'])
    df_longest_domain = top_data_df.domain.str.split('.').str[-1]
    df_longest_domain = df_longest_domain.loc[df_longest_domain.str.len() >= df.domain.str.split('.').str[-1].str.len().max()].sort_values().head(1)
    with open('df_longest_domain.csv', 'w') as f:
        f.write(df_longest_domain.to_csv(index=False, header=False))
        
def airflow():
    top_data_df = pd.read_csv(TOP_1M_DOMAINS_FILE, names=['rank', 'domain'])
    airflow_id = df.loc[df.domain.str.endswith('airflow.com')].index.to_list()[0]
    with open('airflow_id.csv', 'w') as f:
        f.write(airflow_id.to_csv(index=False, header=False))