In [1]:
# import important libs
import pandas as pd
import os

In [6]:
# return files list in Res_Tree folder
folder_data = [i for i in os.listdir('/home/jupyter-n-korotkov/shared/Res_Tree/') if not i.startswith('.')]

In [7]:
folder_data

['F000545', 'M000547', 'F000570']

In [12]:
# path to a txt file wtih raw data
p = '/home/jupyter-n-korotkov/shared/Res_Tree/F000545/res_2019.09.11_0.0_6493B6_Container-dat_2125_91-105-165_F000545/meals_list_2.txt'

In [13]:
all_data = []

In [17]:
meal_data = open(p).readlines()

In [18]:
# lets filter important data using cycle, that will itter rows and try to find start and end of dataset
scanning = False
for i in meal_data:
    if i.startswith('--- Non-deleted saved meals -----------------------'):
        scanning = True
        continue
    elif i.startswith('------'):
        scanning = False
        continue
        
    if scanning:
        if 'Meal#;' in i:
            col_name = i
            continue
        all_data.append([value.strip() for value in i.split(';')])

In [20]:
# create a list with names of columns
final_col_names = [col.strip() for col in col_name.strip().split(';')]

In [21]:
final_col_names

['Meal#',
 'Date',
 'Start',
 'End',
 'Flags',
 'E-IN',
 'Cbh',
 'Fat',
 'Pro',
 'S. tstamp',
 'End tstamp',
 'Minutes',
 'Recs',
 'First',
 'Last',
 'Type',
 'Frags',
 '']

In [22]:
# colleact all data in pandas df
meal_df = pd.DataFrame(all_data, columns=final_col_names[0:17])

In [23]:
meal_df.head()

,Meal#,Date,Start,End,Flags,E-IN,Cbh,Fat,Pro,S. tstamp,End tstamp,Minutes,Recs,First,Last,Type,Frags
0,0,09.01.2020,10:54,12:33,0x84,247.41,18.85,13.58,12.45,1578556469,1578562439,100,100,1,100,F3-Meal,
1,1,09.01.2020,12:42,14:11,0x84,198.60,17.00,10.31,9.45,1578562921,1578568288,90,94,104,197,F3-Meal,
2,2,09.01.2020,14:31,16:41,0x84,320.71,23.09,18.03,16.53,1578569494,1578577272,130,130,217,346,F3-Meal,
3,3,09.01.2020,16:57,18:01,0x84,136.57,12.71,6.77,6.20,1578578237,1578582096,65,65,362,426,F3-Meal,
4,4,09.01.2020,18:09,19:46,0x84,193.10,16.25,10.11,9.27,1578582579,1578588367,97,97,434,530,F3-Meal,

In [24]:
meal_df.dtypes

Meal#         object
Date          object
Start         object
End           object
Flags         object
E-IN          object
Cbh           object
Fat           object
Pro           object
S. tstamp     object
End tstamp    object
Minutes       object
Recs          object
First         object
Last          object
Type          object
Frags         object
dtype: object

In [25]:
# change a type of a column from object to int
a = meal_df.astype({'Last': 'int'})

In [26]:
a.dtypes

Meal#         object
Date          object
Start         object
End           object
Flags         object
E-IN          object
Cbh           object
Fat           object
Pro           object
S. tstamp     object
End tstamp    object
Minutes       object
Recs          object
First         object
Last           int64
Type          object
Frags         object
dtype: object

In [28]:
# change a type of a column from object to int and foat
meal_df = meal_df.astype({'Minutes' : 'int', 'Pro':'float'})

In [29]:
meal_df.Date = pd.to_datetime(meal_df.Date)

In [30]:
user_meal_df = meal_df[['Date', 'Pro', 'Minutes']]

In [31]:
user_meal_df.dtypes

Date       datetime64[ns]
Pro               float64
Minutes             int64
dtype: object

In [32]:
user_meal_df.head()

        Date    Pro  Minutes
0 2020-09-01  12.45      100
1 2020-09-01   9.45       90
2 2020-09-01  16.53      130
3 2020-09-01   6.20       65
4 2020-09-01   9.27       97

In [33]:
user_meal_df.drop(columns=['Pro', 'Minutes'])

         Date
0  2020-09-01
1  2020-09-01
2  2020-09-01
3  2020-09-01
4  2020-09-01
5  2020-09-01
6  2020-09-01
7  2020-09-01
8  2020-10-01
9  2020-10-01
10 2020-10-01
11 2020-10-01
12 2020-10-01
13 2020-10-01
14 2020-10-01
15 2020-11-01
16 2020-11-01
17 2020-11-01
18 2020-11-01
19 2020-11-01
20 2020-11-01

In [43]:
# os get current work directory
os.getcwd()

'/home/jupyter-n-korotkov/lesson_4'