In [1]:
import pandas as pd
from tqdm import tqdm_notebook

In [5]:
df = pd.read_csv('http://s3.amazonaws.com/alexa-static/top-1m.csv.zip', names=['rank', 'domain'])

In [26]:
df.query('domain == "linkedin.com"')

    rank        domain
14    15  linkedin.com

In [32]:
df.domain.str.split('.').str[-1].str.len().max()

14

In [ ]:
df.domain.value_counts()