In [74]:
pip install plotly_express==0.4.0

Collecting plotly_express==0.4.0
  Downloading plotly_express-0.4.0-py2.py3-none-any.whl (2.1 kB)
Requirement already satisfied: patsy>=0.5 in /Users/nikitakorotkov/opt/anaconda3/lib/python3.9/site-packages (from plotly_express==0.4.0) (0.5.2)
Requirement already satisfied: scipy>=0.18 in /Users/nikitakorotkov/opt/anaconda3/lib/python3.9/site-packages (from plotly_express==0.4.0) (1.7.1)
Requirement already satisfied: pandas>=0.20.0 in /Users/nikitakorotkov/opt/anaconda3/lib/python3.9/site-packages (from plotly_express==0.4.0) (1.3.4)
Collecting plotly>=4.0.0
  Downloading plotly-5.6.0-py2.py3-none-any.whl (27.7 MB)
     |████████████████████████████████| 27.7 MB 566 kB/s eta 0:00:01     |████████████████████████▏       | 20.9 MB 566 kB/s eta 0:00:12
Requirement already satisfied: numpy>=1.11 in /Users/nikitakorotkov/opt/anaconda3/lib/python3.9/site-packages (from plotly_express==0.4.0) (1.20.3)
Requirement already satisfied: statsmodels>=0.9.0 in /Users/nikitakorotkov/opt/anaconda3/lib/python3.9/site-packages (from plotly_express==0.4.0) (0.12.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/nikitakorotkov/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.20.0->plotly_express==0.4.0) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/nikitakorotkov/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.20.0->plotly_express==0.4.0) (2021.3)
Requirement already satisfied: six in /Users/nikitakorotkov/opt/anaconda3/lib/python3.9/site-packages (from patsy>=0.5->plotly_express==0.4.0) (1.16.0)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Installing collected packages: tenacity, plotly, plotly-express
Successfully installed plotly-5.6.0 plotly-express-0.4.0 tenacity-8.0.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
# Импортируем нужные библиотеки
import yadisk

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

import requests as rq
from urllib.parse import urlencode

%matplotlib inline

In [2]:
base_url = 'https://cloud-api.yandex.net/v1/disk/public/resources/download?'
customers = 'https://disk.yandex.ru/d/FUi5uSd6BfG_ig'  # Таблица с уникальными идентификаторами пользователей
olist_orders = 'https://disk.yandex.ru/d/t9Li4JOfgxuUrg' # Таблица заказов
olist_items = 'https://disk.yandex.ru/d/Gbt-yAcQrOe3Pw' # Товарные позиции, входящие в заказы

# Получаем загрузочные ссылки
download_url_customers = rq.get(base_url + urlencode(dict(public_key=customers))).json()['href']
download_url_olist_items = rq.get(base_url + urlencode(dict(public_key=olist_items))).json()['href']
download_url_olist_orders = rq.get(base_url + urlencode(dict(public_key=olist_orders))).json()['href']

In [3]:
# Загружаем файлы и сохраняем их
download_response = rq.get(download_url_customers)
customers_df = pd.read_csv(download_url_customers)

download_response = rq.get(download_url_olist_items)
olist_items_df = pd.read_csv(download_url_olist_items,
                            parse_dates=['shipping_limit_date'])


download_response = rq.get(download_url_olist_orders)
olist_orders_df = pd.read_csv(download_url_olist_orders, 
                              parse_dates=['order_purchase_timestamp', 
                                          'order_approved_at', 
                                          'order_delivered_carrier_date', 
                                          'order_delivered_customer_date', 
                                          'order_estimated_delivery_date'])

# Customers Data Frame

In [4]:
# customer_id — позаказный идентификатор пользователя (аналог номера паспорта)
# customer_unique_id —  уникальный идентификатор пользователя
# customer_zip_code_prefix —  почтовый индекс пользователя
# customer_city —  город доставки пользователя
# customer_state —  штат доставки пользователя

In [5]:
customers_df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [6]:
customers_df.dtypes

customer_id                 object
customer_unique_id          object
customer_zip_code_prefix     int64
customer_city               object
customer_state              object
dtype: object

In [7]:
customers_df.shape

(99441, 5)

# Order Items Data Frame

In [8]:
# order_id —  уникальный идентификатор заказа (номер чека)
# order_item_id —  идентификатор товара внутри одного заказа
# product_id —  ид товара (аналог штрихкода)
# seller_id — ид производителя товара
# shipping_limit_date —  максимальная дата доставки продавцом для передачи заказа партнеру по логистике
# price —  цена за единицу товара
# freight_value —  вес товара

In [9]:
olist_items_df.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [10]:
olist_items_df.dtypes

order_id                       object
order_item_id                   int64
product_id                     object
seller_id                      object
shipping_limit_date    datetime64[ns]
price                         float64
freight_value                 float64
dtype: object

# Orders Data Frame

In [11]:
# order_id —  уникальный идентификатор заказа (номер чека)
# customer_id —  позаказный идентификатор пользователя (аналог номера паспорта)
# order_status —  статус заказа
# order_purchase_timestamp —  время создания заказа
# order_approved_at —  время подтверждения оплаты заказа
# order_delivered_carrier_date —  время передачи заказа в логистическую службу
# order_delivered_customer_date —  время доставки заказа
# order_estimated_delivery_date —  обещанная дата доставки

In [12]:
olist_orders_df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26

In [13]:
olist_orders_df.shape

(99441, 8)

In [14]:
olist_orders_df.dtypes

order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
dtype: object

# Задание 1.

### Сколько у нас пользователей, которые совершили покупку только один раз? (7 баллов)

In [15]:
# Для решения задачи проведи предварительное исследование данных и сформулируй, что должно считаться покупкой. 
# Обосновать свой выбор ты можешь с помощью фактов оплат, статусов заказов и других имеющихся данных.

In [16]:
# Узнаем, какие есть статусы заказа. Видим, что некоторые заказы были отмененены, поэтому их стоит убрать из
# списка успешных покупок.

# created —  создан
# approved —  подтверждён
# invoiced —  выставлен счёт
# processing —  в процессе сборки заказа
# shipped —  отгружен со склада
# delivered —  доставлен пользователю
# unavailable —  недоступен
# canceled —  отменён

olist_orders_df.order_status.value_counts()

delivered      96478
shipped         1107
canceled         625
unavailable      609
invoiced         314
processing       301
created            5
approved           2
Name: order_status, dtype: int64

In [17]:
olist_orders_df.loc[olist_orders_df.order_purchase_timestamp.isna()]

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date]
Index: []

In [18]:
# Также мы видим, что по некоторым заказам не подтверждена оплата. Это тоже нельзя считать успешной покупкой.
not_na = olist_orders_df.order_approved_at.notna().value_counts()
not_na

True     99281
False      160
Name: order_approved_at, dtype: int64

In [19]:
# Здесь мы видим, что в дата фрейме нет дубликатов customer_id, их всех по одному. Выглядит подозрительно.
olist_orders_df.customer_id.value_counts(ascending=False).head()

9ef432eb6251297304e76186b10a928d    1
413f7e58270a32396af030a075b924be    1
eb4350b67a0264c67e5e06a038e4afbb    1
622b07d262d545d16efbd4363a89cb91    1
c701fbfa77791abd05eef9eacf7ea7a8    1
Name: customer_id, dtype: int64

In [20]:
# Пробуем смерджить и сгруппировать датасеты с клиентами и их заказами по колонке customer_id и посмотреть 
# количество customer_unique_id при группировке. Есть предположение, что customer_id выдается каждый заказ
# уникальный, а customer_unique_id выдается один на всю жизнь (как выяснолось, так и есть).

merged_orders_customer = olist_orders_df.merge(customers_df, on='customer_id')
merged_orders_customer.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,af07308b275d755c9edb36a90c618231,47813,barreiras,BA
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP

In [21]:
merged_orders_customer.customer_unique_id.value_counts(ascending=False).head()

8d50f5eadf50201ccdcedfb9e2ac8455    17
3e43e6105506432c953e165fb2acf44c     9
1b6c7548a2a1f9037c1fd3ddfed95f33     7
ca77025e7201e3b30c44b472ff346268     7
6469f99c1f9dfae7733b25662e7f1782     7
Name: customer_unique_id, dtype: int64

In [22]:
# Как выяснилось, у каждгого unique_id было несколько customer_id (т.е.) несколько заказов. Фильтруем тех, у кого
# при группировке оказалось по 1 заказу.
# Также мы можем считать успешными покупками только не отменненые заказы, по которым прошла оплата.

merged_orders_customer \
    .query('order_status != "canceled"') \
    .dropna(subset=['order_approved_at']) \
    .groupby('customer_unique_id', as_index=False) \
    .agg({'customer_id': 'count'}) \
    .rename(columns={'customer_id': 'order_count'}) \
    .query('order_count == 1') \
    .shape[0]

92621

#### !!!Однако

In [23]:
# Стоит учитывать, что среди неоплаченных покупок есть те, которые уже доставлены!!!
# Возможно оплата в данном случае была наличными при доставке или заглючил статус доставки.
# Не могу до конца понять, стоит ли из учитывать их, но если стоит, то тогда покупок еще +14.
# Для дальнейших расчетов эти случаи не будут учитываться, т.к. не совсем онятна причина такого расхождения
# в данных + это не очень значительная погрешность.

merged_orders_customer.loc[merged_orders_customer.order_approved_at.isna()].order_status.value_counts()

canceled     141
delivered     14
created        5
Name: order_status, dtype: int64

### Ответ: 1 раз покупку совершило 92,621 человек (или 92,635 человек, если учесть предыдущий расчет).

# Задание 2.

### Сколько заказов в месяц в среднем не доставляется по разным причинам (вывести детализацию по причинам)? (5 баллов)

In [24]:
merged_orders_customer.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,af07308b275d755c9edb36a90c618231,47813,barreiras,BA
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP

In [25]:
# добавляем колонки с месяцем и годом обещаной доставки
merged_orders_customer['order_estimated_delivery_month'] = \
merged_orders_customer.order_estimated_delivery_date.dt.month

merged_orders_customer['order_estimated_delivery_year'] = \
merged_orders_customer.order_estimated_delivery_date.dt.year

merged_orders_customer.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_estimated_delivery_month,order_estimated_delivery_year
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,10,2017
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,8,2018
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,9,2018
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN,12,2017
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP,2,2018

In [26]:
merged_orders_customer.dtypes

order_id                                  object
customer_id                               object
order_status                              object
order_purchase_timestamp          datetime64[ns]
order_approved_at                 datetime64[ns]
order_delivered_carrier_date      datetime64[ns]
order_delivered_customer_date     datetime64[ns]
order_estimated_delivery_date     datetime64[ns]
customer_unique_id                        object
customer_zip_code_prefix                   int64
customer_city                             object
customer_state                            object
order_estimated_delivery_month             int64
order_estimated_delivery_year              int64
dtype: object

In [27]:
# Фильтруем данные по заказам, у которых нет даты доставки, логично предположить, что это и есть недоставленные.
# Далее группируем по году, месяцу и статусу заказа (т.к. данные у нас за несколько лет и месяцев).
# Считаем количесвто за каждыей месяц по каждой причине.

group_status_mean = merged_orders_customer \
    .loc[merged_orders_customer.order_delivered_customer_date.isna()] \
    .groupby(['order_estimated_delivery_month','order_estimated_delivery_year', 'order_status'], as_index=False) \
    .order_id.count() \
    .groupby('order_status', as_index=False) \
    .agg({'order_id': 'mean'}) \
    .rename(columns={'order_id': 'monthly_mean'}) # Считаем среднее по месяцам.

### Ответ:

In [28]:
group_status_mean

  order_status  monthly_mean
0     approved      1.000000
1     canceled     23.807692
2      created      1.666667
3    delivered      2.000000
4     invoiced     14.952381
5   processing     15.842105
6      shipped     48.130435
7  unavailable     29.000000

In [51]:
# Втзуализируем полученные данные по среднему количеству недоставленных заказов в месяц по всем возможным статусам.
# Учитывая, что данные взяты за прошлый год, можно предположить, что это не те заказы, которые просто в процессе,
# а что на этих этапах, что-то пошло не так с заказом.

plt.figure(figsize=(10, 5))
fig = px.bar(group_status_mean, x='order_status', y='monthly_mean')
fig.show()
# sns.barplot(x="order_status", y="monthly_mean", data=group_status_mean)

# Задание 3.

### По каждому товару определить, в какой день недели товар чаще всего покупается. (5 баллов)

In [30]:
# order_id —  уникальный идентификатор заказа (номер чека)
# customer_id —  позаказный идентификатор пользователя (аналог номера паспорта)
# order_status —  статус заказа
# order_purchase_timestamp —  время создания заказа
# order_approved_at —  время подтверждения оплаты заказа
# order_delivered_carrier_date —  время передачи заказа в логистическую службу
# order_delivered_customer_date —  время доставки заказа
# order_estimated_delivery_date —  обещанная дата доставки

# order_id —  уникальный идентификатор заказа (номер чека)
# order_item_id —  идентификатор товара внутри одного заказа
# product_id —  ид товара (аналог штрихкода)
# seller_id — ид производителя товара
# shipping_limit_date —  максимальная дата доставки продавцом для передачи заказа партнеру по логистике
# price —  цена за единицу товара
# freight_value —  вес товара

In [31]:
# Обединяем дата фреймы по заказам и по товарам в этих заказам, чтоб получить таблицу с id товара и датой покупки.
# Стоит отметить, что произошло декартово произведение, т.к. для одного заказа в olist_orders_df есть несколько
# товаров в olist_items_df (можно видеть по командам shape ниже).

merged_order_items = olist_orders_df.merge(olist_items_df, on='order_id')
merged_order_items.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,1,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-10-06 11:07:15,29.99,8.72
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,1,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,2018-07-30 03:24:27,118.70,22.76
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,1,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,2018-08-13 08:55:23,159.90,19.22
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,1,d0b61bfb1de832b15ba9d266ca96e5b0,66922902710d126a0e7d26b0e3805106,2017-11-23 19:45:59,45.00,27.20
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,1,65266b2da20d04dbe00c5c2d3bb7859e,2c9e548be18521d1c43cde1c582c6de8,2018-02-19 20:31:37,19.90,8.72

In [32]:
# левая таблица
olist_orders_df.shape

(99441, 8)

In [33]:
# правая таблица
olist_items_df.shape

(112650, 7)

In [34]:
# таблица смерджиная по order_id, используя inner join (видим, что поизошло декартово произведение, но это нам 
# как раз и нужно)
merged_order_items.shape

(112650, 14)

In [35]:
merged_order_items.dtypes

order_id                                 object
customer_id                              object
order_status                             object
order_purchase_timestamp         datetime64[ns]
order_approved_at                datetime64[ns]
order_delivered_carrier_date     datetime64[ns]
order_delivered_customer_date    datetime64[ns]
order_estimated_delivery_date    datetime64[ns]
order_item_id                             int64
product_id                               object
seller_id                                object
shipping_limit_date              datetime64[ns]
price                                   float64
freight_value                           float64
dtype: object

In [36]:
merged_order_items['order_approved_day_name'] = merged_order_items.order_approved_at.dt.day_name()

In [37]:
# Как и в первом задании вычленяем только успешные покупки, по которым прошла оплата и которые не отменены.
# Группируем данные по id продукта и дню и считаем количество успешных оплат.

best_day = merged_order_items \
    .query('order_status != "canceled"') \
    .dropna(subset=['order_approved_at']) \
    .groupby(['product_id', 'order_approved_day_name']) \
    .agg({'order_approved_day_name': 'count'}) \
    .rename(columns={'order_approved_day_name': 'count'}) \
    .reset_index()

In [38]:
best_day.head()

                         product_id order_approved_day_name  count
0  00066f42aeeb9f3007548bb9d3f33c38                  Sunday      1
1  00088930e925c41fd95ebfe695fd2655                 Tuesday      1
2  0009406fd7479715e4bef61dd91f2462                  Friday      1
3  000b8f95fcb9e0096488278317764d19                  Friday      1
4  000b8f95fcb9e0096488278317764d19               Wednesday      1

In [39]:
# Считаем количество уникальных id для дополнительной проверки финалоного результата.

best_day.product_id.value_counts().shape

(32732,)

### Ответ:

In [40]:
# Выводим для каждого product_id лучший день по количеству покупок. Количество значений соответсвует 
# количеству уникальных ID. По некоторым покупкам есть дни с одинаково большим количеством покупок, 
# в этих случая выведено только первое вхождение.

best_day_final_df = best_day \
    .pivot(index='order_approved_day_name', columns='product_id', values='count') \
    .fillna(0) \
    .idxmax() \
    .to_frame() \
    .rename(columns={0: 'best_day'})

best_day_final_df.head(10)

                                  best_day
product_id
00066f42aeeb9f3007548bb9d3f33c38    Sunday
00088930e925c41fd95ebfe695fd2655   Tuesday
0009406fd7479715e4bef61dd91f2462    Friday
000b8f95fcb9e0096488278317764d19    Friday
000d9be29b5207b54e86aa1b1ac54872   Tuesday
0011c512eb256aa0dbbb544d8dffcf6e  Thursday
00126f27c813603687e6ce486d909d01    Sunday
001795ec6f1b187d37335e1c4704762e    Monday
001b237c0e9bb435f2e54071129237e9    Friday
001b72dfd63e9833e8c02742adf472e3  Thursday

In [41]:
best_day_final_df.shape

(32732, 1)

In [42]:
# Вручную проверяем несколько значений на совпадение (ниже отражен один из тестов, все совпали)

best_day.loc[best_day.product_id == '001b72dfd63e9833e8c02742adf472e3']

                          product_id order_approved_day_name  count
14  001b72dfd63e9833e8c02742adf472e3                  Friday      2
15  001b72dfd63e9833e8c02742adf472e3                Saturday      3
16  001b72dfd63e9833e8c02742adf472e3                  Sunday      1
17  001b72dfd63e9833e8c02742adf472e3                Thursday      4
18  001b72dfd63e9833e8c02742adf472e3                 Tuesday      2
19  001b72dfd63e9833e8c02742adf472e3               Wednesday      2

In [43]:
best_day_final_df.loc['001b72dfd63e9833e8c02742adf472e3']

best_day    Thursday
Name: 001b72dfd63e9833e8c02742adf472e3, dtype: object

# Задание 4.

Сколько у каждого из пользователей в среднем покупок в неделю (по месяцам)? 
Не стоит забывать, что внутри месяца может быть не целое количество недель. 
Например, в ноябре 2021 года 4,28 недели. И внутри метрики это нужно учесть. (8 баллов)

#### Описание данных:

In [44]:
# order_id —  уникальный идентификатор заказа (номер чека)
# customer_id —  позаказный идентификатор пользователя (аналог номера паспорта)
# order_status —  статус заказа
# order_purchase_timestamp —  время создания заказа
# order_approved_at —  время подтверждения оплаты заказа
# order_delivered_carrier_date —  время передачи заказа в логистическую службу
# order_delivered_customer_date —  время доставки заказа
# order_estimated_delivery_date —  обещанная дата доставки

# customer_id — позаказный идентификатор пользователя (аналог номера паспорта)
# customer_unique_id —  уникальный идентификатор пользователя
# customer_zip_code_prefix —  почтовый индекс пользователя
# customer_city —  город доставки пользователя
# customer_state —  штат доставки пользователя

In [183]:
# Как и в первом задании вычленяем только успешные покупки, по которым прошла оплата и которые не отменены.
# Создаем колонку с номером месяца и делаем из дат индексы для того, чтобы сделать resample по неделям.

merged_orders_customer['order_approved_at_month'] = merged_orders_customer.order_approved_at.dt.month.astype('Int64')
merged_orders_customer['order_approved_at_year'] = merged_orders_customer.order_approved_at.dt.year.astype('Int64')

orders_month_year = merged_orders_customer \
    .query('order_status != "canceled"') \
    .dropna(subset=['order_approved_at'])

orders_month_year['days_count'] = orders_month_year.order_approved_at.dt.days_in_month.astype('Int64')
orders_month_year['weeks_count'] = orders_month_year.order_approved_at.dt.days_in_month.astype('Int64') / 7
orders_month_year.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_estimated_delivery_month,order_estimated_delivery_year,order_approved_at_month,order_approved_at_year,days_count,weeks_count
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,10,2017,10,2017,31,4.428571
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,8,2018,7,2018,31,4.428571
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,9,2018,8,2018,31,4.428571
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN,12,2017,11,2017,30,4.285714
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP,2,2018,2,2018,28,4.0

In [184]:
orders_month_year = merged_orders_customer \
    .query('order_status != "canceled"') \
    .dropna(subset=['order_approved_at'])

In [185]:
orders_month_year.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_estimated_delivery_month,order_estimated_delivery_year,order_approved_at_month,order_approved_at_year
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,10,2017,10,2017
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,8,2018,7,2018
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,9,2018,8,2018
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN,12,2017,11,2017
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP,2,2018,2,2018

In [ ]:
orders_month_year \
    .set_index('order_approved_at') \
    .groupby(['customer_unique_id', 'order_approved_at_month']) \
    .resample(rule='W').mean()

In [181]:
orders_month_year.groupby(['customer_unique_id', 'order_approved_at_month', 'order_approved_at_year']) \
#     .agg({'order_id': 'count'}) \
#     .reset_index() \
#     .groupby(['customer_unique_id', 'order_approved_at_month']) \
#     .agg({'order_id': 'mean'})
#     .pivot(index=['customer_unique_id','order_approved_at_month'], columns='order_approved_at_year', values='order_id') \
#     .reset_index() \
#     .fillna(0) \
#     .sort_values(['customer_unique_id', 'order_approved_at_month']) \
#     .groupby(['customer_unique_id', 'order_approved_at_month']) \
#     .apply(lambda x: ) \

,customer_unique_id,order_approved_at_month,order_approved_at_year,order_id
0,0000366f3b9a7992bf8c76cfdf3221e2,5,2018,1
1,0000b849f77a49e4a4ce2b2a4ca5be3f,5,2018,1
2,0000f46a3911fa3c0805444483337064,3,2017,1
3,0000f6ccb0745a6a4b88665a16c9f078,10,2017,1
4,0004aac84e0df4da2b147fca70cf8255,11,2017,1
...,...,...,...,...
97432,fffcf5a5ff07b0908bd4e2dbc735a684,6,2017,1
97433,fffea47cd6d3cc0a88bd621562a9d061,12,2017,1
97434,ffff371b4d645b6ecea244b27531430a,2,2017,1
97435,ffff5962728ec6157033ef9805bacc48,5,2018,1
97436,ffffd2657e2aad2907e67c3e9daecbeb,5,2017,1

In [ ]:
month = 
year = 

_, mr = monthrange(year, month)
mr

In [80]:
from calendar import monthrange

month = 6
year = 2022

_, mr = monthrange(year, month)
mr
# cyclic_df['d_cos'] = np.cos(cyclic_df.day*(2.*np.pi/mr))

30

In [67]:
round(2017.01)

2017

In [58]:
orders_month_year

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_estimated_delivery_month,order_estimated_delivery_year,order_approved_at_month,order_approved_at_year
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,7c396fd4830fd04220f754e42b4e5bff,3149,sao paulo,SP,10,2017,10.0,2017.0
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13,af07308b275d755c9edb36a90c618231,47813,barreiras,BA,8,2018,7.0,2018.0
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04,3a653a41f6f9fc3d2a113cf8398680e8,75265,vianopolis,GO,9,2018,8.0,2018.0
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15,7c142cf63193a1473d2e66489a9ae977,59296,sao goncalo do amarante,RN,12,2017,11.0,2017.0
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26,72632f0f9dd73dfee390c9b22eb56dd6,9195,santo andre,SP,2,2018,2.0,2018.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28,6359f309b166b0196dbf7ad2ac62bb5a,12209,sao jose dos campos,SP,3,2017,3.0,2017.0
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02,da62f9e57a76d978d02ab5362c509660,11722,praia grande,SP,3,2018,2.0,2018.0
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27,737520a9aad80b3fbbdad19b66b37b30,45920,nova vicosa,BA,9,2017,8.0,2017.0
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15,5097a5312c8b157bb7be58ae360ef43c,28685,japuiba,RJ,2,2018,1.0,2018.0
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03,60350aa974b26ff12caad89e55993bd6,83750,lapa,PR,4,2018,3.0,2018.0

In [47]:
orders_month_year.head()

,customer_unique_id,order_approved_at_month,order_approved_at_year,order_status
0,0000366f3b9a7992bf8c76cfdf3221e2,5.0,2018.0,1
1,0000b849f77a49e4a4ce2b2a4ca5be3f,5.0,2018.0,1
2,0000f46a3911fa3c0805444483337064,3.0,2017.0,1
3,0000f6ccb0745a6a4b88665a16c9f078,10.0,2017.0,1
4,0004aac84e0df4da2b147fca70cf8255,11.0,2017.0,1

In [48]:
merged_orders_customer.dtypes

order_id                                  object
customer_id                               object
order_status                              object
order_purchase_timestamp          datetime64[ns]
order_approved_at                 datetime64[ns]
order_delivered_carrier_date      datetime64[ns]
order_delivered_customer_date     datetime64[ns]
order_estimated_delivery_date     datetime64[ns]
customer_unique_id                        object
customer_zip_code_prefix                   int64
customer_city                             object
customer_state                            object
order_estimated_delivery_month             int64
order_estimated_delivery_year              int64
order_approved_at_month                  float64
order_approved_at_year                   float64
dtype: object